<html>
<head>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<title>Translator</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<style>

	.content_copy{
		display: inline-block;
		text-decoration: none;
		color: #787878;
		overflow: hidden;
		transition: .4s;
		position:absolute;
		margin-left: 83%;
		margin-top: 9%;
		font-size: 15px;
	}

	.content_copy:hover{

		color: #160b0b;

	}

	.volume_up{
		display: inline-block;
		text-decoration: none;
		color: #787878;
		overflow: hidden;
		transition: .4s;
		position:absolute;
		margin-left: 80.5%;
		margin-top: 9%;
		font-size: 20px;
	}

	.volume_up:hover{

		color: #160b0b;

	}
	</style>
	
</head>
<body>
	<div class="row" style="margin: 5%;">
		<div class="col-md-12">
			<div class="card ">
				<div class="card-header bg-info" >
				<h5 class="card-title text-light ">Language Translator</h5>
				<input type="button" name="tras_txt" class="btn btn-outline-light tras_txt_btn" value="Text">
				<input type="button" name="up_file"  class="btn btn-outline-light up_file_btn" value="Upload">
				</div>
					<div class="card-body">
						<form name="form" id="form_data">
							<div class="form-inline">
								<select class="form-control" style="width: 40%;margin-left: 5%;" name="src_lang" id="src_lang">
									<option value="detect" id="detect" selected> Detect Language(Experimental) </option>
									<option value="ar" id="ar"> Arabic </option>
									<option value="bn" id="bn"> Bengali </option>
									<option value="zh" id="zn-CN"> Chinese </option>
									<option value="en" id="en"> English </option>
									<option value="fr" id="fr"> French </option>
									<option value="hi" id="hi"> Hindi </option>
									<option value="id" id="id"> Indonesian </option> 
									<option value="pt" id="pt-PT"> Portuguese </option>
									<option value="ru" id="ru"> Russian </option>
									<option value="es" id="es"> Spanish </option>
								</select>

								<select class="form-control" style="width: 40%;margin-left: 5%;" name="dest_lang" id="dest_lang">
									<option disabled selected> Select Language </option>
									<option value="ar" id="ar" selected> Arabic </option>
									<option value="bn" id="bn"> Bengali </option>
									<option value="zh" id="zn-CN"> Chinese </option>
									<option value="en" id="en"> English </option>
									<option value="fr" id="fr"> French </option>
									<option value="hi" id="hi"> Hindi </option>
									<option value="id" id="id"> Indonesian </option> 
									<option value="pt" id="pt-PT"> Portuguese </option>
									<option value="ru" id="ru"> Russian </option>
									<option value="es" id="es"> Spanish </option>
								</select>
							</div>
							<div class="form-inline text_div" style="margin-top: 2%">
								<textarea class="form-control" style="width: 40%;margin-left: 5%;margin-right: 0.5%;" rows="5" name="ta_src_lang" id="ta_src_lang" ></textarea>
								<i class="material-icons btn swap_btn">swap_horiz</i>
								<textarea class="form-control ta_dest_lang" style="width: 40%;margin-left: 0.5%;" rows="5" name="ta_dest_lang" id="ta_dest_lang"></textarea>
								<span class="btn material-icons sm-5 volume_up"  class="btn btn-danger" title="Read out Loud " id="volume_up">volume_up</span>
                            	<i class="btn material-icons sm-5 content_copy" id="tooltip-copy" class="btn btn-danger" title="Copy text">content_copy</i>
							</div>
							<div class="upload_div" style="margin-top: 5%;">
								<center>
									<p style="color:black; font-weight: normal; font-size:25;">Choose Document</p>
									<p style="color:#787878; font-weight: lighter; font-size:17;">Upload a .doc, .docx, .odf, .pdf, .ppt, .pptx, .ps, .rtf, .txt, .xls, or .xlsx</p>
									<form id="upload-file" method="post" enctype="multipart/form-data">
									<label class="btn btn-primary" for="my-file-selector">
										<input id="my-file-selector" type="file" style="display:none" onchange="$('#upload-file-info').text(this.files[0].name)" accept="text/plain, .doc, .docx, .odf, .pdf, .ppt, .pptx, .ps, .rtf, .txt, .xls, .xlsx">
											Browse your computer
									</label>
									</form>
									<span class='label label-info' id="upload-file-info"></span>
								</center><br/>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>

/*
$('#ta_src_lang').on('input', function() 
{
	ta_src_lang=$('#ta_src_lang').val()
	src_lang=$("#src_lang").val()
	dest_lang=$("#dest_lang").val()
	console.log(ta_src_lang)
	$.post("/translate",{ ta_src_lang: ta_src_lang,src_lang:src_lang,dest_lang:dest_lang }).done(function (data) 
	{
		console.log(data)
		if(data=="")
		{
			alert("Somthing went wrong please try again later...")
		}
		else
		{
			$('#ta_dest_lang').val(data)
		}
	});
});
*/
$(document).ready(function(){
  
    $(".upload_div").hide();
	$(".tras_txt_btn").addClass("active")

});

$(function(){
	$('#my-file-selector').click(function() {
		var form_data = new FormData($('#upload-file')[0]);
		$.ajax({
			type: 'POST',
			url: '/uploadajax',
			data: form_data,
			contentType: false,
			cache: false,
			processData: false,
			success: function(data) {
				console.log('Success!');
			},
		});
	});
});

$(document).on("click",".up_file_btn",function()
{
    $(".text_div").hide();
	$(".upload_div").show();
	$(".up_file_btn").addClass("active")
	$(".tras_txt_btn").removeClass("active")
	
});

$(document).on("click",".tras_txt_btn",function()
{
    $(".text_div").show();
	$(".upload_div").hide();
	$(".up_file_btn").removeClass("active")
	$(".tras_txt_btn").addClass("active")
});

var globalTimeout = null;  
$('#ta_src_lang').keyup(function() 
{
  if (globalTimeout != null) {
    clearTimeout(globalTimeout);
  }
  globalTimeout = setTimeout(function() {
    globalTimeout = null;  
	// ta_src_lang=$('#ta_src_lang').val()
	// src_lang=$("#src_lang").val()
	// dest_lang=$("#dest_lang").val()
	var form_data = $('#form_data').serializeArray().reduce(function (output, value) 
	{
        output[value.name] = value.value
        return output
	}, {})
	console.log(form_data)
	$.ajax(
	{
		type: "POST",
		url: "/translate",
		data: JSON.stringify(form_data),
		cache: false,
		dataType: "json",
		success: function(data)
		{
			if(data=="")
			{
				alert("Somthing went wrong please try again later...")
			}
			else
			{
        		console.log("Response:"+JSON.stringify(data))
				$('#ta_dest_lang').val(data.ta_dest_lang)
			}
		}
	});
  }, 300);  
});  



$(document).on('change',"#dest_lang", function() 
{
	// ta_src_lang=$('#ta_src_lang').val()
	// src_lang=$("#src_lang").val()
	// dest_lang=$("#dest_lang").val()
	// $('#ta_dest_lang').val(ta_src_lang)
	var form_data = $('#form_data').serializeArray().reduce(function (output, value) 
	{
        output[value.name] = value.value
        return output
	}, {})
	console.log(form_data)
	$.ajax(
	{
		type: "POST",
		url: "/translate",
		data: JSON.stringify(form_data),
		cache: false,
		dataType: "json",
		success: function(data)
		{
			if(data=="")
			{
				alert("Somthing went wrong please try again later...")
			}
			else
			{
        		console.log("Response:"+JSON.stringify(data))
				$('#ta_dest_lang').val(data.ta_dest_lang)
			}
		}
	});
});

$(document).on("click",".swap_btn",function()
{	
	src_lang=$("#src_lang").val()
	dest_lang=$("#dest_lang").val()
	ta_src_lang=$('#ta_src_lang').val()
	ta_dest_lang=$('#ta_dest_lang').val()
	//select
	toggle_src=$("#dest_lang").val(src_lang)
	toggle_dest=$("#src_lang").val(dest_lang)
	//text
	ta_toggle_src=$("#ta_src_lang").val(ta_dest_lang)
	
	//ta_toggle_dest=$("#ta_dest_lang").val(ta_src_lang)
	
	$.ajax(
	{
		type: "POST",
		url: "/translate",
		data: JSON.stringify({ ta_src_lang: ta_toggle_src.val(),src_lang:toggle_src.val(),dest_lang:toggle_dest.val() }),
		cache: false,
		dataType: "json",
		success: function(data)
		{
			if(data=="")
			{
				alert("Somthing went wrong please try again later...")
			}
			else
			{
        		console.log("Response:"+JSON.stringify(data))
				$('#ta_dest_lang').val(data.ta_dest_lang)
			}
		}
	});
});

$(document).on("click",".volume_up",function()
{
	var form_data = $('#form_data').serializeArray().reduce(function (output, value) 
	{
        output[value.name] = value.value
        return output
	}, {})
	console.log(form_data)
	$.ajax(
	{
		type: "POST",
		url: "/speech_to_text",
		data: JSON.stringify(form_data),
		cache: false,
		dataType: "json",
		success: function(data)
		{
			if(data=="")
			{
				alert("Somthing went wrong please try again later...")
			}
			else
			{
        		console.log("Response:"+JSON.stringify(data))
			}
		}
	});
});
</script>
</html>
